<h1>All Chirps</h1>
<% @chirps.each do |chirp| %>
  <p><%= chirp.body %></p>
  <%= image_tag chirp.pic.url, width: '100' %>
  <p>
    - <i><%= link_to chirp.author, author_chirps_path(chirp.author) %></i>
  </p>
  <%= link_to "Read more", chirp_path(chirp) %>
<% end -%>